.resume {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.g-i {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  gap: 2rem;
}
